<%= provide(:title, 'Edit Grampost') %>
<h1>Edit Grampost</h1>

<div class="row content_frame">
  <aside class="span6" id="rightbar">
    <section>
      <%= form_for(@grampost) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.label :photo, "Change Photo" %>
          <%= f.file_field :photo %>

          <%= f.label :price, "Change Price" %>
          <%= f.text_field :price %>

          <%= f.label :zipcode, "Change Zipcode" %>
          <%= f.text_field :zipcode %>

          <%= f.label :title, "Change Title" %>
          <%= f.text_field :title %>

          <%= f.label :category_id, "Change Category" %>
          <%= f.collection_select :category_id, Category.all, :id, :name %>

          <%= f.label :photo, "Change Description" %>
          <%= f.text_area :description, placeholder: "Describe the details of your grampost..." %>
        </div>
        <%= f.submit "Update", class: "btn btn-large btn-primary" %>
      <% end %>
    </section>
  </aside>
  <div class="span410">
    <div class="gram_image">
      <%= photo_for(@grampost, size: :large) %>
    </div>
  </div>
</div>
