<%= provide(:title, 'Create New Grampost') %>
<h1>New Grampost</h1>

<div class="row">
  <div class="span6 offset3 content_frame">
    <%= form_for(@grampost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :photo, "Choose A Photo" %>
        <%= f.file_field :photo %>

        <%= f.label :zipcode %>
        <%= f.text_field :zipcode %>

        <%= f.label :price %>
        <%= f.text_field :price, placeholder: "(required) How much? Whole dollars only", min: 0 %>

        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "(required) Grampost title..." %>

          <%= f.label "Category" %>
          <%= f.collection_select :category_id, Category.all, :id, :name,
                                  :prompt => '(required) Select Category' %>

        <%= f.label :description %>
        <%= f.text_area :description, placeholder: "(optional) Describe the details of your grampost..." %>
      </div>
      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
