<%= provide(:title, @grampost.title) %>

<div class="row content_frame">
  <aside class="span6" id="rightbar">
    <section>
      <h1 class="grampost_title">
        <%= @grampost.title %>
      </h1>
      <p>
        <span class="timestamp">
          Posted <%= time_ago_in_words(@grampost.created_at) %> ago
          by  <%= link_to @grampost.user.name, @grampost.user %>.
        </span>
      </p>
      <p class="grampost_price">
        <%= price_for(@grampost) %>
      </p>
    </section>
    <% if not @grampost.description.blank? %>
      <section>
        <p>
          <%= @grampost.description %>
        </p>
      </section>
    <% end %>
    <% if current_user?(@grampost.user) %>
      <section>
        <%= link_to "delete", @grampost, method:  :delete,
                                         confirm: "You sure?",
                                         title:   @grampost.title %> |
        <%= link_to "edit", edit_grampost_path(@grampost) %>
      </section>
    <% end %>
  </aside>

  <div class="span410">
      <div class="gram_image">
        <%= link_to photo_for(@grampost, size: :large), @grampost %>
      </div>
  </div>
</div>
